<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coltectp.github.io.tp_02_rest_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".charts.block.TransactionPerBlockFragment" />
        <activity android:name=".charts.block.BlockChart" />
        <activity android:name=".charts.coin.StatsCoinActivity" />
        <activity android:name=".charts.mining.MiningInfoActivity" />
        <activity android:name=".charts.pieChart.PoolChartActivity" />
        <activity android:name=".blockExplorer.activity.BlockExplorerActivity"></activity>
    </application>

</manifest>